.axis path, .axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.y-axis{
	width: 40 px;
}

.grid path, .grid line {
	fill: none;
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.tick {
	font: 10px Arial;
}

.cursor text {
	text-anchor: end;
	font-size: 10px;
	font-weight: bold;
	fill: black;
}

.brush .extent {
    stroke: rgba(255, 185, 88, 0.9);
    fill-opacity: .125;
    shape-rendering: crispEdges;
}


.label path {
	fill: rgba(255, 185, 88, 0.9);
	stroke: none;
}

.blue .data-point {
	fill: steelblue;
}

.blue .data-point-active {
	fill: red;
	stroke: white;
	stroke-width: 1;
}

.blue .data-line {
	fill: none;
	stroke-width: 2;
}

.blue{
  stroke:steelblue;
  fill: steelblue;
}

.data-line, .data-bar, .data-area{
  fill:#00B388;
  stroke:#00B388;
}

.blue .data-area {
	fill-opacity:0.3;
	stroke: none;
}

.data-star {
	fill: red;
	fill-opacity:0.4;
	stroke: red;
	stroke-width: 1;
}

.blue .data-bar {
	fill-opacity:0.3;
	stroke-width: 1;
}

rect.data-bar:hover, .barHover{
  fill: orange;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tooltip {
  clear: both;
  position: relative;
  z-index: 999;
  opacity: 1;
  width: 420px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  /*pointer-events: none;*/
}

.tooltip .panel-header{
  text-align:center;
}


.tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}