<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ENote - Metrics</title>
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <!-- font icon -->
        <link href="css/elegant-icons-style.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet" />

        <!-- chart css -->
        <link href="src/app.css" rel="stylesheet">
        <link href="src/chart.css" rel="stylesheet">

        <script src="js/jquery.js"></script>

        <!-- chart script -->
        <script src="js/d3.js" charset="UTF-8"></script>
        <script src="js/angular.js" charset="UTF-8"></script>
        <script src="js/bootstrap.js"></script>
        <script src="src/app.js"></script>
        <script src="src/chart.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <!-- container section start -->
        <section id="container" class="">
            <header class="header green-bg">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
                </div>
                <!--logo start-->
                <a href="javascript:;" class="logo">Enote <span class="lite">Metrics</span></a>
                <div class="navbar-right" style="position:absolute;right:7px;top:8px;background-color:white;">
                    <img src="pic/hpe.png" style="height:43px;padding-left:3px;padding-right:5px;" />
                </div>
                <!--logo end-->

            </header>
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Total Messages Sent</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#1" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Requests By CompanyCode</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#2" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Onboarded People</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#5" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Onboarded Team</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#10" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Messages By Receiver Type and Status</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#6" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Requests By External System Type</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#7" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <span class="text">Requests By External System Type and Status</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/index.html#8" ng-click="showing()">Daily View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Weekly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Monthly View</a></li>
                                <li><a class="" href="javascript:;" ng-click="building()">Quarterly View</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper" ng-hide="notReady">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header" style="margin-left:30px;margin-top:20px;"><i class="fa fa-laptop"></i> {{chartTitle}} - Daily View ( {{display.date[0] | date:"dd-MMM-yyyy"}} to {{display.date[1] | date:"dd-MMM-yyyy"}} )</h3>
                                <!-- <ol class="breadcrumb">
                                    <li><i class="fa fa-home"></i><a href="javascript:;">Home</a></li>
                                    <li><i class="fa fa-laptop"></i>Total Messages Sent</li>
                                    <li><i class="fa fa-leaf"></i>DailyView</li>
                                </ol> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="height:118px">
                            <div class="btn-group" data-toggle="buttons" style="width:100%">
                                <label class="btn btn-default active" style="width:50%;min-width:110px;" ng-click="changeEnvFunc('all')">
                                    <input name="optionEvn" id="optionEvn" type="radio" value="all"/>
                                    ALL DATA
                                </label><br/><br/>
                                <label class="btn btn-default" style="width:33%;min-width:90px;" ng-click="changeEnvFunc('eit100')">
                                    <input name="optionEvn" id="optionEvn" type="radio" value="eit100"/>
                                    EIT 100
                                </label>
                                <label class="btn btn-default" style="width:33%;min-width:90px;" ng-click="changeEnvFunc('eit200')">
                                    <input name="optionEvn" id="optionEvn" type="radio" value="eit200"/>
                                    EIT 200
                                </label>
                                <label class="btn btn-default" style="width:33%;min-width:90px;" ng-click="changeEnvFunc('eit300')">
                                    <input name="optionEvn" id="optionEvn" type="radio" value="eit300"/>
                                    EIT 300
                                </label>
                            </div>
                            <!-- <div class="btn-group" data-toggle="buttons" ng-repeat="b in [{k:'all',v:'ALL DATA'}, {k:'eit100',v:'EIT 100'},{k:'eit200',v:'EIT 200'},{k:'eit300',v:'EIT 300'}]">
                                <label class="btn btn-default" style="width:100px;">
                                    <input name="optionEvn" id="optionEvn" type="radio" ng-model="selectEnv" 
                                           value="{{b.k}}" />
                                    {{b.v}}
                                </label>
                            </div> -->
                          
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default" data-ng-show="log.showChart">
                                <div class="panel-body">
                                    <my-brush-chart class="chart blue" data="log.data" brush="display.date"></my-brush-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body" data-ng-show="log.showChart" style="height:350px;">
                                    <my-bar-chart class="chart blue" data="log.data" original-data="originalData" cursor="display.cursor" start-date="display.date[0]" end-date="display.date[1]" td="toolTipData.d"></my-bar-chart>
                                    <div id="tooltip" class="panel tooltip">
                                        <h5 class="panel-header" id="tipvalue"></h3>
                                        <div style="border:1px" ng-show="log.env==='all'">
                                            <div class="left">
                                                <ul>
                                                <li data-ng-repeat="t in toolTip.data"><span ng-style="{'background-color': '{{pieColorSet[$index]}}'}"></span> <strong>{{t.y}}</strong>
                                                <br>{{t.x}}</li>
                                                </ul>
                                            </div>
                                            <div class="left"><svg id="tipsvg" /></div>
                                            <div class="tags_clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" data-ng-hide="log.showChart">
                                    <h1>There is no data in this instance for this aggrete type</h1>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <my-line-chart class="chart blue" data="log.data" cursor="display.cursor"></my-line-chart>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
                <section class="wrapper" ng-show="notReady">
                    <div class="row">
                        <div class="col-lg-12" style="padding-top:300px; text-align:center;">
                            <div class="jumbotron">
                            <img src="pic/building.jpg">
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!--main content end-->
        </section>
       
        <!--custome script for all page-->
        <script src="js/scripts.js"></script>
        <!-- custom script for this page-->
    </body>
</html>